
<!-- <app-news></app-news> -->
<!-- <hr>
<app-home></app-home> -->
<!-- <app-form></app-form> -->
<!-- <app-search></app-search> -->
<!-- <app-header></app-header> -->
<!-- <app-father></app-father> -->
<!-- <app-lifecycle *ngIf="flag"></app-lifecycle>

<button (click)="destroy()">销毁组件</button> -->
<!-- <app-rxjs></app-rxjs> -->
<!-- <app-network></app-network> -->
<header>
    <!-- <a [routerLink]="[ '/home' ]" routerLinkActive="active">home</a>
    <a [routerLink]="[ '/news']" routerLinkActive="active">news</a>
    <a [routerLink]="[ '/form']" routerLinkActive="active">form</a>
    <a [routerLink]="[ '/search']" routerLinkActive="active">search</a> -->
    <a [routerLink]="[ '/shouye' ]" routerLinkActive="active">首页</a>
    <a [routerLink]="[ '/product' ]" routerLinkActive="active">产品</a>
</header>
<router-outlet></router-outlet>
